@media print {

    @page {
        size: A4;
        size: landscape;
        // size: 210mm 297mm;
        size: 297mm 210mm;
        margin: 1cm 1cm;
    }

    @page :right {
        @bottom-right-corner {
            content: counter(page);
            font: $print-font-weight 6pt $base-font-family;
        }
    }

    @page :left {
        @bottom-left-corner {
            /* content: "Page " counter(page) " of " counter(pages); */
            content: counter(page);
            font: $print-font-weight 6pt $base-font-family;
        }
    }

    body {
        font: $print-font-weight #{$print-font-size}/#{$print-line-height} $print-font-family;
        background: #fff !important;
        color: #000;
    }

    blockquote {
        font-size: $print-font-size;
    }

    p {
        break-before: avoid;
        orphans: 2;
        widows: 2;

        &:last-of-type {
            margin-bottom: $spacing-unit;
        }
    }

    article {
        columns: 3 auto;
        column-fill: auto;
        text-align: justify;
    }

    header h1 {
        border-bottom: .05pt solid $grey-color;
        column-span: all;
        font-size: 1.6em;
        padding: 0;
        string-set: doctitle content();
        text-align: center;
    }

    h1,h2,h3,h4,h5,h6 {
        break-after: avoid;
        page-break-after: avoid;
        & + p {
            page-break-before: avoid;
            break-before: avoid;
        }
    }

    h1 { font-size: 1.4em; }
    h2 { font-size: 1.3em; }
    h3 { font-size: 1.2em; }

    p a {
        color: #000;
        text-decoration:none;
        font: inherit;
        &:visited {
            font: inherit;
            color: #000;
            text-decoration:none;
        }

        // print the URL after each absolute link.
        &[href*="://"]:after {
            content: " (" attr(href) ")";
            // font-size: 80%;
            word-wrap: break-word;
        }
        word-wrap: break-word;
    }

    .site-header, .site-footer {
        display: none;
    }

    .noprint {
        display:none;
    }

    .page-break {
        display: block;
        page-break-before: always;
    }

    .nobreak {
        page-break-inside: avoid;
        break-inside: avoid;
    }
}
